@model ContactFormModel

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>@ViewData["Title"]</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    @*<link rel="stylesheet" href="assets/css/fontawesome.css">*@
    <link rel="stylesheet" href="~/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/css/templatemo-finance-business.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.css">

    <link rel="shortcut icon" tpye="image/jpg" href="~/assets/images/favicon.ico" />
</head>





<body>
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- Header -->
    @*<div class="sub-header">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xs-12">
                    <ul class="left-info">
                        <li><a href="#"><i class="fa fa-clock-o"></i>Mon-Fri 09:00-17:00</a></li>
                        <li><a href="#"><i class="fa fa-phone"></i>090-080-0760</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="right-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>*@

    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                @*<a class="navbar-brand" href="/Home/Index"><h2>YouLook, Inc</h2></a>*@
                <a class="navbar-brand" href="/Home/Index"><img tpye="image/jpg" src="~/assets/images/logo-youlook.png" style="width: 24%; bottom: 5px;"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Index">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/About">About Us</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link" href="/Home/Services">Our Services</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md footer-item">
                    <h4>Networking Platform </h4>
                    <p>The whole world is brought into our unique platform which makes us stand out.</p>
                    @*<ul class="social-icons">
                        <li><a rel="nofollow" href="https://fb.com/templatemo" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>*@
                </div>
                <div class="col-md footer-item">
                    <h4>Useful Links</h4>
                    <ul class="menu-list">
                        <li><a href="https://www.techopedia.com/definition/23759/social-platform">Social Platform</a></li>
                        <li><a href="https://www.searchenginejournal.com/5-ways-to-use-social-media-for-connection-during-times-of-social-distancing/358080/">How To Stay Connected</a></li>
                        <li><a href="https://www.businessinsider.com/social-media-uses-up-a-lot-of-your-data-2015-6">Data Usage</a></li>
                        <li><a href="https://www.linkedin.com/pulse/20140422162738-44670464-5-benefits-of-using-social-media">Benefits</a></li>
                        <li><a href="https://en.wikipedia.org/wiki/Privacy_concerns_with_social_networking_services">Network Privacy </a></li>
                    </ul>
                </div>
                @*<div class="col-md-3 footer-item">
                    <h4>Additional Pages</h4>
                    <ul class="menu-list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">How We Work</a></li>
                        <li><a href="#">Quick Support</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>*@
                <div class="col-md footer-item last-item">
                    <h4>Contact Us</h4>
                    <div class="contact-form">
                        <form id="contact footer-contact" asp-action="Sendmail" method="post">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                        <label asp-for="Name" hidden></label>
                                        <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                        <label asp-for="Subject" hidden></label>
                                        <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject Line" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <fieldset>
                                        <label asp-for="Email" hidden></label>
                                        <input name="email" type="text" class="form-control" id="email" pattern="[^ @@]*@@[^ @@]*" placeholder="E-Mail Address" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <label asp-for="Message" hidden></label>
                                        <textarea name="message" rows="4" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="filled-button">Send Message</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        COPYRIGHT &copy 2021 YOULOOK, INC - ALL RIGHTS RESERVED.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/owl.js"></script>
    <script src="~/assets/js/slick.js"></script>
    <script src="~/assets/js/accordions.js"></script>
    <script src="~/assets/js/my-script.js"></script>

    <script language="text/Javascript">
        cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
        function clearField(t) {                   //declaring the array outside of the
            if (!cleared[t.id]) {                      // function makes it static and global
                cleared[t.id] = 1;  // you could use true and false, but that's more typing
                t.value = '';         // with more chance of typos
                t.style.color = '#fff';
            }
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
