@{
    ViewData["Title"] = "Home Page";
}
    <!-- Page Content -->
    <div class="page-heading header-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Our Services</h1>
                    <span>A SOCIAL NETWORKING PLATFORM, BUT NOT WHAT YOU THINK IT IS</span>
                </div>
            </div>
        </div>
    </div>

    <div class="single-services">
        <div class="container">
            <div class="row" id="tabs">
                <div class="col-md-4">
                    <ul>
                        <li><a href='#tabs-1'>Market Analysis <i class="fa fa-angle-right"></i></a></li>
                        <li><a href='#tabs-2'>Benefit <i class="fa fa-angle-right"></i></a></li>
                        <li><a href='#tabs-3'>Design <i class="fa fa-angle-right"></i></a></li>
                        <!--<li><a href='#tabs-4'>Overall Evaluation <i class="fa fa-angle-right"></i></a></li>-->
                    </ul>
                </div>
                <div class="col-md-8">
                    <section class='tabs-content'>
                        <article id='tabs-1'>
                            <img src="~/assets/images/single_service_01.jpg" alt="">
                            <h4>Market Analysis</h4>
                            <p>
                                Social media has been one of the most profound technology in our modern world. It helps people across various generation to connect, interact, trade, and so much more.
                                <br><br>We solely believe that social media can be one of those things that changed how people live, and it will keep changing our lifestyle without a boundary due to the versability of techonology during this time.
                            </p>
                        </article>
                        <article id='tabs-2'>
                            <img src="~/assets/images/single_service_02.jpg" alt="">
                            <h4>Benefit</h4>
                            <p>
                                Human was having a hard time connecting with relatives, friends, mentors, and other relationship. With the help of social platform, our world is enhanced by making connection across the earth without worrying about any cost.
                                <br><br>The development of human habit has been increased greatly by sharing interests and hobbies with other like-minded, and that proves the usefulness of human interaction aided by technology.
                            </p>
                        </article>
                        <article id='tabs-3'>
                            <img src="~/assets/images/single_service_03.jpg" alt="">
                            <h4>Design</h4>
                            <p>
                                We are organizing multiple moving components in order to develop the ultimate of social platform. It invovles many different industries that are currently in-demand of our service.
                                <br><br>Our platform combines different essense of multiple current software and we eliminate what is considered "a hassle" to users.
                            </p>
                        </article>
                        <!--<article id='tabs-4'>
                            <img src="~/assets/images/single_service_04.jpg" alt="">
                            <h4>Overall Evaluation</h4>
                            <p>
                                Integer vehicula sapien quis dolor efficitur, eget molestie eros tempus. Curabitur sollicitudin, tortor at suscipit volutpat, nisi arcu aliquet dui, vitae semper sem turpis quis libero. Quisque vulputate lacinia nisl ac lobortis. Ut ultricies maximus turpis, in sollicitudin ligula posuere vel.
                                <br><br>Donec finibus maximus neque, vitae egestas quam imperdiet nec. Proin nec mauris eu tortor consectetur tristique. Etiam suscipit ante a odio consequat, in ornare lacus suscipit. Cras ac libero massa. Quisque rhoncus velit feugiat vulputate mollis. Donec nisl eros, malesuada sed nisi id, condimentum condimentum quam.
                            </p>
                        </article>
                            -->
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="callback-form callback-services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Request a <em>call back</em></h2>
                        <span>We are ready to introduce more about this next big thing</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="post">
                            <div class="row">
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="email" type="text" class="form-control" id="email" pattern="[^ @@]*@@[^ @@]*" placeholder="E-Mail Address" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="border-button">Send Message</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="partners">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-partners owl-carousel">
                        <div class="partner-item">
                            <img src="~/assets/images/client-01.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>